* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #9eaab4;
  color: white;
}

h1,
h2 {
  color: #a88bd4;
}

.note-app {
  background-color: #263238;
  margin: 50px auto;
  width: 1200px;
  border-radius: 8px;
  border: 5px solid white;
  filter: drop-shadow(1px 2px 8px hsl(220deg 100% 55%));
}

.note-app_light {
  background-color: #f5f5f5;
  margin: 50px auto;
  width: 1200px;
  border-radius: 8px;
  border: 5px solid white;
  filter: drop-shadow(1px 2px 8px hsl(220deg 100% 55%));
}

input,
textarea {
  padding: 12px;
  margin: 12px 0;
  font-family: "Inter", sans-serif;
  background-color: transparent;
  color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
}

input::placeholder,
textarea::placeholder {
  color: #aaa;
  font-weight: bold;
}

.note-app__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  border-bottom: 1px solid #aaa;
}

.note-app__welcome {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #75c6a6;
}

.icon-button {
  background-color: transparent;
  color: white;
  border: 0;
  font-size: 28px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.note-app__header h1 {
  margin: 8px 0;
  flex: 1;
  color: white;
}

.note-app__header ul {
  display: flex;
}

.note-app__header li {
  list-style: none;
  margin: 0 8px;
}

.note-app__header a {
  color: white;
  text-decoration: none;
}

.note-app__header a:hover {
  color: #a88bd4;
}

.note-app__body input {
  width: 100%;
}

.note-app__body {
  max-width: 1000px;
  margin: 16px auto;
  padding: 12px;
}

h2 {
  font-weight: normal;
  margin: 16px 0;
}

.note-app__not-found {
  text-align: center;
  padding: 8%;
  font-size: 2rem;
}

.note-app__not-found p {
  margin-top: 16px;
}

.note-input {
  margin: 0 auto;
  max-width: 500px;
  margin-bottom: 80px;
  margin-top: 48px;
}

.note-input h1 {
  font-size: 2rem;
}

.note-input input {
  display: block;
  width: 100%;
}

.note-input__title {
  font-weight: bold;
  margin-top: 16px;
}

.note-input__title__char-limit {
  font-size: 14px;
  text-align: right;
  color: #aaa;
}

.note-input button {
  display: block;
  width: 100%;
  padding: 16px 8px;
  background-color: transparent;
  font-family: "Inter", sans-serif;
  color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.note-input__body {
  min-height: 175px;
  display: block;
  width: 100%;
  border: 1px solid #aaa;
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 16px;
}

[contenteditable][placeholder]:empty:before {
  content: attr(placeholder);
  position: absolute;
  color: #aaa;
  font-size: 14px;
  font-weight: bold;
  background-color: transparent;
}

.note-search__wrapper {
  position: relative;
}

.note-search__icon {
  height: 1.5rem;
  width: 1.5rem;
  padding: 4px;
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  left: 8px;
  color: #aaa;
  transform: translateY(-50%);
}

.note-search__input {
  height: 50px;
  box-sizing: border-box;
  padding-left: 2.5rem;
}

.notes-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(min-content, max-content);
  gap: 16px;
  margin-bottom: 48px;
}

.notes-list__empty-message {
  text-align: center;
  color: #aaa;
  margin-bottom: 3em;
}

.note-item {
  border: 1px solid #aaa;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.note-item__content {
  padding: 12px;
  flex: 1;
}

.note-item__content a {
  text-decoration: none;
}

.note-item__content a::hover {
  background: #a88bd4;
}

.note-item__title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 4px;
}

.note-item__title {
  color: #75c6a6;
}

.note-item__date {
  font-size: 12px;
  margin-bottom: 8px;
  color: #aaa;
}

.note-item__body {
  margin-top: 16px;
  font-size: 14px;
  color: #82aaef;
  text-overflow: ellipsis;
  overflow: hidden;
}

.note-item__action {
  display: flex;
}

.note-item__delete-button,
.note-item__archive-button {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 0;
  border-top: 1px solid #aaa;
  padding: 8px 0;
  font-weight: bold;
  cursor: pointer;
}

.note-item__delete-button {
  border-right: 1px solid #aaa;
  color: #ff5f52;
}

.note-item__archive-button {
  color: #fff263;
}

.note-item__archive-button:hover {
  color: #c49000;
}

.note-item__delete-button:hover {
  color: #b00020;
}

.note-detail__content {
  padding: 8%;
  font-size: 2rem;
}

.note-detail__date {
  font-size: 16px;
  margin-top: 8px;
  color: #aaa;
}

.note-detail__body {
  margin-top: 1.2em;
  font-size: 2rem;
  text-align: justify;
}

.note-detail__not-found {
  text-align: center;
  padding: 8%;
  font-size: 2rem;
}

.auth-subtitle {
  margin-bottom: 32px;
  color: #aaa;
}

.auth-account__nav {
  margin-bottom: 32px;
  color: #aaa;
}

.auth-account__nav a {
  color: #a88bd4;
  font-weight: bold;
}

@media only screen and (min-width: 500px) {
  .notes-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 800px) {
  .notes-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .note-search input {
    min-width: 400px;
  }
}

@media only screen and (min-width: 800px) {
  .notes-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 1024px) {
  .note-app {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .note-app__header input {
    width: 50%;
  }
}
